body {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	font-family: var(--font-family);
	background-color: var(--color-light);
	color: var(--color-dark);
}

a {
	color: var(--color-dark);
	text-decoration: none;
}

h2 {
	font-size: 56px;
	font-weight: 800;
	line-height: 1.1;
}
